@import url("fonts.css");

@import url("reset.css");

main {
    padding-top: 50px;
}

.consulting {
    max-width: 722px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 18px;
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
    margin-bottom: 100px;
}
.consulting > *:not(:last-child) {
    margin-bottom: 41px;
}
.cons-header {
}
.cons-header-title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 1.27;
    color: #37393F;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.cons-header-text {
    line-height: 1.46;
}
.cons-header-text p:not(:last-child) {
    margin-bottom: 10px;
}
.cons-main {
}
.cons-main-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #6B77E5;
    line-height: 1.27;
    font-weight: 600;
    margin-bottom: 12px;
}
.cons-main-text {
    line-height: 1.46;
}
.cons-main-text p:not(:last-child) {
    margin-bottom: 10px;
}
.benefits {
    font-size: 0;
}
.benefits-img {
    max-width: 331px;
    margin-right: 29px;
    display: inline-block;
}
.benefits-text {
    display: inline-block;
    max-width: 332px;
    vertical-align: top;
}
.benefits-title {
    font-size: 25px;
    color: #37393F;
    line-height: 1.27;
    font-weight: 600;
    margin-bottom: 15px;
}
.benefits-subtitle {
    font-size: 20px;
    color: #40DDB6;
    line-height: 1.27;
    font-weight: 600;
    margin-bottom: 21px;
}
.benefits-list {
    font-size: 18px;
}
.benefits-item {
    line-height: 1.27;
}
.benefits-item::before {
    content: "";
    background: url(../img/vector.png) no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -5px;
}
.benefits-item:not(:last-child) {
    margin-bottom: 30px;
}


.care {
    max-width: 705px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
}
.care-header {
    margin-bottom: 10px;
}
.care-subtitle {
    margin-bottom: 16px;
    color: #37393F;
}
.care-subtitle::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    vertical-align: middle;
    margin-right: 6px;
}
.care-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 1.21;
    font-weight: 700;
    max-width: 414px;
    color: #37393F;
}
.care-text {
    color: #7D7D7D;
    margin-bottom: 48px;
}
.care-text p {
    line-height: 1.46;
}
.care-text p:not(:last-child) {
    margin-bottom: 16px;
}
.care-list {
    margin-bottom: 48px;
}
.care-item {
    padding: 28px 41px 28px 38px;
    border: 1px solid #E3E3E3;
}
.care-item:not(:last-child) {
    margin-bottom: 31px;
}
.care-list-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #37393F;
    font-weight: 600;
    margin-bottom: 12px;
}
.care-list-title::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/vector.png) 0 0 / 28px no-repeat;
    vertical-align: middle;
    margin-right: 19px;
}
.care-list-text {
    padding-left: 46px;
}
.care-list-text p {
    color: #7D7D7D;
    line-height: 1.46;
}
.care-list-text p:not(:last-child) {
    margin-bottom: 10px;
}
.care-link {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    padding: 21px 35px;
    background-color: #6B77E5;
}
.care-link:hover {
    background-color: #FFFFFF;
    color: #6B77E5;
}
.care-link:focus {
    outline: 2px solid #3849e6;
}



.work {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #37393F;
    margin-bottom: 100px;
}
.work-header {
    margin-bottom: 77px;
}
.work-header-subtitle {
    font-weight: 500;
    margin-bottom: 16px;
}
.work-header-subtitle::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    vertical-align: middle;
    margin-right: 6px;
}
.work-header-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.21;
    font-size: 40px;
}
.work-main {
    font-size: 0;
}
.work-item {
    display: inline-block;
    max-width: 386px;
    padding: 58px 43px;
    background-color: #F4F4F4;
}
.date-img::before {
    content: "";
    display: block;
    height: 72px;
    background: url(../img/date-img.png) 50% 0 / 72px no-repeat;
    margin-top: -95px;
    margin-bottom: 22px;
}
.pazzle-img::before {
    content: "";
    display: block;
    height: 72px;
    background: url(../img/pazzle-img.png) 50% 0 / 72px no-repeat;
    margin-top: -95px;
    margin-bottom: 22px;
}
.vector-img::before {
    content: "";
    display: block;
    height: 72px;
    background: url(../img/vector-img.png) 50% 0 / 72px no-repeat;
    margin-top: -95px;
    margin-bottom: 22px;
}
.work-item:not(:last-child) {
    margin-right: 31px;
    margin-bottom: 70px;
}
.work-item > *:not(:last-of-type) {
    margin-bottom: 0;
}
.work-item-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.27;
    font-size: 25px;
    margin-bottom: 16px;
}
.work-item-title::before {
}
.work-item-text {
    line-height: 1.46;
    margin-bottom: 37px;
    font-size: 18px;
    color: #7D7D7D;
}
.work-item-link {
    color: #6B77E5;
    font-weight: 600;
    font-size: 18px;
}
.work-item-link:hover {
    text-decoration: underline;
}
.work-item-link:focus {
    outline: 2px solid #6B77E5;
    border-radius: 5px;
}
.work-item-link:visited {
    color: #0c1458;
}


.jewels {
    max-width: 1244px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    margin-bottom: 100px;
    font-size: 0;
}
.jewels-title {
    display: inline-block;
    font-size: 60px;
    line-height: 1.15;
    max-width: 488px;
    vertical-align: top;
    margin-top: 150px;
}
.jewels-title::after {
    content: "";
    display: block;
    border-bottom: 2px solid #78473B;
    width: 62%;
    height: 2px;
    margin-top: 13px;
}
.jewels-cards {
    display: inline-block;
}
.jewels-item {
    display: inline-block;
    vertical-align: top;
}
.jewels-item:not(:last-child) {
    margin-right: 45px;
}
.jewels-img {
    border: 1px solid black;
    padding-top: 9px;
    padding-left: 10px;
    margin-bottom: 25px;
}
.jewels-img img {
    margin-bottom: -9px;
    margin-right: -10px;
}
.jewels-content {
}
.jewels-link:hover {
    text-decoration: underline;
}
.jewels-name {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 4px;
}
.jewels-price {
    font-size: 24px;
    line-height: 1.4;
}
.jewels-subtitle {
    font-size: 46px;
    line-height: 1.13;
    max-width: 339px;
    margin-bottom: 31px;
}