[class*="_icon-"]::before {
    display: inline-block;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
    content: "\e900";
}
._icon-arrow-left:before {
    content: "\e901";
}
._icon-arrow-right:before {
    content: "\e902";
}
._icon-arrow-up:before {
    content: "\e903";
}
._icon-bag:before {
    content: "\e904";
}
._icon-cart:before {
    content: "\e905";
}
._icon-ch-down:before {
    content: "\e906";
}
._icon-ch-left:before {
    content: "\e907";
}
._icon-ch-right:before {
    content: "\e908";
}
._icon-ch-up:before {
    content: "\e909";
}
._icon-close:before {
    content: "\e90a";
}
._icon-credit-card:before {
    content: "\e90b";
}
._icon-delivery:before {
    content: "\e90c";
}
._icon-eye-close:before {
    content: "\e90d";
}
._icon-eye-dark:before {
    content: "\e90e";
}
._icon-eye-light:before {
    content: "\e90f";
}
._icon-favourite:before {
    content: "\e910";
}
._icon-feedback:before {
    content: "\e911";
}
._icon-filter:before {
    content: "\e912";
}
._icon-lock:before {
    content: "\e913";
}
._icon-play-btn:before {
    content: "\e914";
}
._icon-polygon:before {
    content: "\e915";
}
._icon-profile:before {
    content: "\e916";
}
._icon-search:before {
    content: "\e917";
}
._icon-s-fb:before {
    content: "\e918";
}
._icon-shipping:before {
    content: "\e919";
}
._icon-sign-out:before {
    content: "\e91a";
}
._icon-s-inst:before {
    content: "\e91b";
}
._icon-size:before {
    content: "\e91c";
}
._icon-s-linkedin:before {
    content: "\e91d";
}
._icon-star:before {
    content: "\e91e";
}
._icon-star-active:before {
    content: "\e91f";
}
._icon-s-x:before {
    content: "\e920";
}
._icon-trash:before {
    content: "\e921";
}
