/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	background-color: #333;
	font-family: "Inter", sans-serif;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

.header {
}
.footer {
}

/* ---------------------------- */
/* 
Адаптивна (чуйна) верстка - це не про 
впихування дизайну під ПК у маленьки екрани,
це про зручність у користуванні та оптимізацію
*/

/* Хороші практики адаптивної верстки: */
/* 
- Дивіться на екран, та відповідайте на питання "Чи зручно цим користуватись?"
- Для того щоб робити верстку швидко, продумовуйте адаптив ще на ПК
- Не ховайте від користувача найважливіші елементи
- Один клік завжди кращий за два
- Не робіть великі відступи. Зайвий простір тут непотрібен
- Важливі навігаційні вузли робіть зручнішими (крупнішими), не змушуйте користувача цілитись
- Оптимізаця простору та завантаження. Ховайте зайве
- Оптимізовуйте або відмовляйтесь від анімацій
- Долучайте свій власний досвід користувача, не повторюйте те що не зручно вам самим
*/
/* ---------------------------- */

/*
Полотно - певна ширина макету, 
завжди має бути на всю ширину екрану.
*/

/* 
Обмежуючий контейнер - об'єкт, який обмежений по ширині 
та містить контент секції (сайту)
*/

[class*="__container"] {
	max-width: 1250px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* 
Медіа-запити - інструмент, який дозволяє 
вности певні сміни при певних умовах
*/
/* Момент зміни стилів при якийсь умові ще називають breakpoint */
/* Подробиці: 
	https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#syntax
	https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio 
	https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio 
*/

/* Анатомія @media: */
/*
@media (умова){
	CSS-селектор{
		CSS-параметр;
		...
		CSS-параметр;
	}
}

Декілька пристроїв \ варіантів (АБО)
@media screen, print{
	CSS-селектор{
		CSS-параметр;
		...
		CSS-параметр;
	}
}

Декілька умов (ТА)
@media (умова) and (умова){
	CSS-селектор{
		CSS-параметр;
		...
		CSS-параметр;
	}
}

/* Умова - ширина екрану */
/* Екрани =< 826px */
/*
@media (max-width: 826px) {
	CSS-селектор{
		CSS-параметр;
		...
		CSS-параметр;
	}
}
/* Умова - ширина екрану */
/* Екрани > 826px */
/*
@media (min-width: 826px) {
	CSS-селектор{
		CSS-параметр;
		...
		CSS-параметр;
	}
}
/* Мультіумова */
/* =< 826 та => 450 */
/*
@media (min-width: 450px) and (max-width: 826px) {
	CSS-селектор{
		CSS-параметр;
		...
		CSS-параметр;
	}
}
*/

/* Приклад: */
.about {
}
.about__container {
}
.about__items {
	display: flex;
	row-gap: 30px;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.about__column {
	padding: 0 15px;
	flex: 1 0 25%;
}
.about__item {
	min-height: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: #7a956b;
}
/* якісний адаптив зображень */
.about__image {
	background-color: #000;
	width: 100%;
	height: 100%;
	/* Співвідношення сторін (по макету) */
	aspect-ratio: 592 / 363;
	object-fit: cover; /* contain */
	/* object-position: center; */
}
.about__image--top {
	object-position: top;
}

@media (max-width: 840px) {
	.about__column {
		flex: 1 0 50%;
	}
}
@media (max-width: 490px) {
	.about__column {
		flex: 1 0 100%;
	}
	.about__item {
		/* margin: 0 -15px; */
	}
}
/* Mobile First */
@media (min-width: 490px) {
	.about__item {
		/* outline: 10px dotted red; */
	}
}

/* якщо пристрій вміє робити наведення, додаємо hover */
@media (any-hover: hover) {
	a:hover {
	}
}
/* якщо висота більша ніж ширина */
@media (max-aspect-ratio: 3/2) {
	div {
	}
}

/* 
Примітівна адаптивна сітка
!Не рекомендується, але легше для застосування\навчання
*/
/*
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
}
*/
/* Показуємо контент беспечно для усіх ПК моніторів */
/*
@media (max-width: 1250px) {
	[class*="__container"] {
		max-width: 960px;
	}
}
*/
/* Показуємо контент беспечно для усіх планшетів */
/*
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 740px;
	}
}
*/
/* Показуємо контент беспечно для усіх великих мобільних */
/*
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding-left: 15px;
		padding-top: 15px;
	}
}
*/
/* Стилі для маленьких мобільних */
/*
@media (max-width: 479.98px) {
}
*/
